@font-face {
  font-family: myFont; /* set name */
  src: url(../src/fonts/Starlight\ Romance.ttf); /* url of the font */
  
}
/*introduction*/
nav h1{
  font-family: myFont;
  color: rgb(87, 125, 186);


}
nav button{
  background-color: rgba(245, 245, 245, 0);
  border: none;
}
nav link{
  font-weight: 400;
}

.introduction{
  align-items: center;
  justify-content: center;  
  gap:0;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin:2em;
  min-height:80vh;

}
.intro-img{
   flex: 0 1 auto; 
}
.description{
  max-width:600px;
  text-align: center;
   justify-content: center;
  align-items: center;
  justify-items: center;
    font-size:x-large ;
  flex: 0 1 auto; 
}
.description ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-left: 0; 
  width: 100%;              
}
.description img{
  width:150px;  
}
.description #boots{
height: 70px;
width: 80px;

}
.description #mysql{
  height: 80px;
  width:90px;
}

/*education section*/
.edu-cont{
   border-top: solid grey;
   border-bottom: solid grey;
   width: 50%;
   justify-self: center;
   border-radius: 16px;
   margin-bottom: 3em;
   padding: 2em;
}
.edu-cont img{
  border-radius: 8px;
}
/*project section*/
#section-name{
  text-align: center;
  font-family: monospace;
}
.project-cont{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 32px;
  width: 90%;
  justify-self: center;
}

.mockups {
  justify-self: center;
  border-radius: 16px;
  justify-self: center;
  background-color: whitesmoke;
min-width: min-content;
max-width:40%;
margin:1em;
padding: 1em;
border-radius: 16px;
height: fit-content;
flex: 2;
}

#tools{
  background-color: white;
  width: 100%;
  border-radius: 8px;
}
  
.video{
  flex: 1 1 350px; 
 text-align: center;
}
.contact-cont{
  width: 90%;
    border-top: solid grey;
   border-bottom: solid grey;
   text-align: center;
   font-size: x-large;
  font-weight: 500;
  padding: 2em;
  justify-self: center;
  border-radius: 16px;
  margin: 2em 0em 3em 0;

}

@media (max-width: 980px) {
  .introduction, {
    display:flex;
     /* Aligns items side-by-side on larger screens */
  }
}
